/* Custom scrollbar styling */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-color);
  border-radius: 4px;
  border: 1px solid #1b1c26;
}

*::-webkit-scrollbar-thumb {
  background: #413545;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #e22fff;
}

/* basic styles */

.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.t-center {
  transform: translate(-50%, 0);
}

.a-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

hr {
  border: none;
  height: 1px;
  background-color: #FFFFFF0F;
}

code {
  font-weight: 300;
  font-size: 13px;
  color: #fff;
}

h1,
h5,
h6 {
  line-height: 1;
}

h1 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

h2 {
  color: #fff;
  font-weight: 700;
  line-height: 18px;
  font-size: 14px;
}

h4 {
  font-size: 15px;
  color: #FFFFFFB2;
  line-height: 18px;
  font-weight: 300;
}

h5 {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  line-height: 18px;
}

h6 {
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFFB2;
  text-align: center;
}

span {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}

span.pink {
  color: #E22FFF;
}

input {
  outline: none;
  background: transparent;
  color: #FFFFFFB2;
  padding: 0 6px;
}

button {
  outline: none;
}

input::placeholder {
  color: #FFFFFF59;
}

select,
select option {
  background-color: #262632;
  color: #fff;
  font-size: 13px;
}

select {
  border: 1px solid #FFFFFF17;
  border-radius: 4px;
  outline: none;
}

select::after {
  color: #FFFFFFB2;
}

table {
  border-collapse: collapse;
  border-radius: 6px;
  background-color: #D9D9D90D;
}


tbody {
  border-top: 1px solid #F6F6F60F;
}

tbody tr:last-child td {
  padding-bottom: 14px;
}

tbody tr:first-child td {
  padding-top: 14px;
}

th {
  padding: 8px 42px;
}

td {
  padding: 4px 42px;
}

th,
td {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

/* main styles */

.main-page {
  background-image: url(./assets/media/bg.png);
  background-repeat: no-repeat;
}

.auth-box {
  background-image: url(./assets/media/box-bg.png);
  background-size: 100% 100%;
  min-width: 464px;
}

.box-input {
  height: 42px;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid #FFFFFF12;
  border-radius: 6px;
}

.active {
  background-color: #2F2E3A;
  border-color: #FFFFFF0D;
}